<div class="relative break-inside-avoid" style="background-image: url('static/image/sign_birch.png'); background-size: cover; background-position: center;">
  <div class="absolute top-2 z-10 left-1/2 -translate-x-1/2 flex items-center -space-x-2">
  </div>
  <div class="relative top-5 bg-transparent mb-6 break-inside-avoid flex flex-col transform rotate-1 hover:rotate-0 transition-transform duration-300">
      <div class="bg-transparent text-black p-4 rounded-t-lg">
          <h3 class="font-bold text-2xl mb-2">{{item_entry.name}} (x{{item_entry.stock}})</h3>
          <p class="text-black text-lg">${{item_entry.price}}</p> <!-- Increased size and color -->
      </div>
      <div class="p-4 bg-transparent">
        <p class="font-semibold text-xl mb-2">Description</p> <!-- Increased size -->
        <p class="text-black text-base mb-2"> <!-- Changed color and slightly reduced size -->
            {{item_entry.description}}
        </p>
          <div class="mt-4">
              <p class="text-black font-semibold text-lg mb-2">Imutness Rating</p> <!-- Increased size and changed color -->
              <div class="relative pt-1">
                  <div class="flex mb-2 items-center justify-between">
                      <div>
                          <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-indigo-600 bg-transparent">
                              {% if item_entry.imutness_rating > 10.0 %}
                                  10+
                              {% else %}
                                  {{ item_entry.imutness_rating|floatformat:1 }}
                              {% endif %}
                          </span>
                      </div>
                  </div>
                  <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-indigo-200">
                      <div style="width:{% if item_entry.imutness_rating > 10.0 %}100%{% else %}{{ item_entry.imutness_rating|floatformat:0 }}0%{% endif %}" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-500"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

